{% extends "ZDAdminBundle::layout.html.twig" %}



{% block title %}
Semaine
{% endblock %}

{% block content %}

  {{ include("ZDAdminBundle:Admin:form.html.twig") }}

 <a href="{{ path('zd_admin_viewDay') }}" id="create" class="btn btn-success">Voir/ Ajouter/ Modifier/ Supprimer un jour</a>
{% endblock %}
