{% extends "ZDAdminBundle::layout.html.twig" %}

{% block title %}
  Modifier un jour
{% endblock %}

{% block content %}


  {{ include("ZDAdminBundle:Admin:form.html.twig") }}


  <p>
    <a href="{{ path('zd_admin_viewHome', {'id': home.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour 
    </a>
  </p>

{% endblock %}