{% extends "ZDAdminBundle::layout.html.twig" %}

{% block title %}
 Index
{% endblock %}

{% block content %}
    
 <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Titre H1</th>
                                        <th>Titre H2</th>
                                        <th>Content</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td>coucou</td>
                                        <td></td>
                                        <td></td>
                                        
                                        {#<td>{{ home.TitleH1 }}</td>
                                        <td>{{ home.TitleH1 }}</td>
                                        <td>{{ home.Content }}</td>#}
                                        
                                        <td><a href="" id="edit" class="btn btn-success">edit</a>
                                            <a href="" id="delete" class="btn btn-success">delete</a></td>

                                    </tr>
                                    
                                </tbody>
                            </table>
                                    
                                    <a href="" id="create" class="btn btn-success">create new table</a>
                        </div>
                    </div>
     
     
     
 </div>

{% endblock %}

