{% extends "::layout.html.twig" %}




{% block contentPage %}
    <div id="main">
			<div class="container">
				<div class="row">

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
                                                    {% block sectionImage1 %}{% endblock %}
						</section>
                                            
                                                
					</div>
					
					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							{% block sectionContent1 %}{% endblock %}
						</section>
					</div>

				</div>
			</div>         
		</div>
	<!-- /Main -->
        

        
        <!-- Main right-->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							{% block sectionContent2 %}{% endblock %}
						</section>
					</div>

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							 {% block sectionImage2 %}{% endblock %}
						</section>
					</div>
					
				</div>
			</div>
		</div>
	<!-- /Main -->
        
        
            <!-- Main left-->
            <div id="main">
                    <div class="container">
                            <div class="row">

                                    <!-- Sidebar -->
                                    <div id="sidebar" class="4u">
                                            <section>
                                                    <header>
                                                            <h2>Exercices</h2>
                                                    </header>
                                                    <div class="row">
                                                            <section class="6u">
                                                                    <ul class="default">
                                                                            <li><img src="" alt=""></li>
                                                                    </ul>

                                                                    <ul class="default">
                                                                            <li><img src="" alt=""></li>
                                                                    </ul>

                                                                    <ul class="default">
                                                                            <li><img src="" alt=""></li>
                                                                    </ul>
                                                            </section>

                                                    </div>
                                            </section>


                                    </div>

                                    <!-- Content -->
                                    <div id="content" class="8u skel-cell-important">
                                            <section>
                                                    <header>
                                                            <h2>Jour 3</h2>
                                                            <!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
                                                    </header>

                                                       <h3> Cardio - 20 minutes </h3>

                                                       <h3> Exercice 1 : Burpees - 1 minute </h3>

                                                            <p> Commencez en position accroupie, les mains sur le sol en face de vous. Ensuite détendez vos jambes dans une position de pompe. 
                                                                Retournez immédiatement sur vos pieds en position accroupie et sautez aussi haut que possible depuis cette dernière position. </p>


                                                       <h3> Exercice 2 : Escalade au sol - 1 minute </h3>

                                                           <p> Commencez en position de pompe,repliez le genou droit vers la poitrine, sautez et changez de jambe en l'air, en repliant le pied gauche et en étirant la jambe droite. </p>


                                                       <h3> Exercice 3 : Jumping Jack - 2 minute </h3>

                                                           <p> Sautez en écartant les jambes et en touchant vos mains au dessus de votre tête puis revenir pieds joints avec les bras le long du corps. </p>
                                            </section>
                                    </div>

                            </div>
                    </div>
            </div>
    <!-- /Main -->
    
    
     <!-- Main right-->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h2>Jour 4</h2>
								
							</header>

                                                           <h3> Cardio - 20 minutes </h3>
                                                           
                                                           <h3> Exercice 1 : Pompe - 1 minute </h3>
                                                        
                                                                <p> Tous le monde connais surement cet exercice mais je vais quand même le réexpliquer. 
                                                                    Une fois en position de pombe, lever et abaisser le corps avec les bras, gardez votre corps droit.</p>
							
                                                        
                                                           <h3> Exercice 2 : La chaise - 1 minute </h3>
                                                        
                                                               <p> Posez votre dos contre un mur, gardez le dos plat, et les hanches plus bas jusqu'à ce que les genoux forment un angles droit. </p>
                                                        
                                                       
                                                           <h3> Exercice 3 : Crunch abdominal - 1 minute </h3>
                                                        
                                                               <p> Couché sur le dos sur le sol avec les genoux pliés et les bras tendus devant vous, soulevez le haut du corps. </p>
						</section>
					</div>

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							<header>
								<h2>Exercices</h2>
							</header>
							<div class="row">
								<section class="6u">
									<ul class="default">
										<li><img src="" alt=""/></li>
									</ul>
                                                                    
                                                                        <ul class="default">
										<li><img src="" alt=""/></li>
									</ul>
                                                                    
                                                                        <ul class="default">
										<li><img src="" alt=""/></li>
									</ul>
								</section>

							</div>
						</section>
					</div>
					
				</div>
			</div>
		</div>
	<!-- /Main -->
        
        
                    <!-- Main left-->
            <div id="main">
                    <div class="container">
                            <div class="row">

                                    <!-- Sidebar -->
                                    <div id="sidebar" class="4u">
                                            <section>
                                                    <header>
                                                            <h2>Exercices</h2>
                                                    </header>
                                                    <div class="row">
                                                            <section class="6u">
                                                                    <ul class="default">
                                                                            <li><img src="" alt=""></li>
                                                                    </ul>

                                                                    <ul class="default">
                                                                            <li><img src="" alt=""></li>
                                                                    </ul>

                                                                    <ul class="default">
                                                                            <li><img src="" alt=""></li>
                                                                    </ul>
                                                            </section>

                                                    </div>
                                            </section>


                                    </div>

                                    <!-- Content -->
                                    <div id="content" class="8u skel-cell-important">
                                            <section>
                                                    <header>
                                                            <h2>Jour 5</h2>
                                                            <!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
                                                    </header>

                                                       <h3> Cardio - 20 minutes </h3>

                                                       <h3> Exercice 1 : Squats avec saut - 1 minute </h3>

                                                            <p> Commencez par faire un squat normal, puis sautez avec la force de l'abdomen. Revenez en position de squat lorsque vous retombez au sol. </p>


                                                       <h3> Exercice 2 : Crunch à l'envers - 1 minute </h3>

                                                           <p> Allongez-vous et levez vos genoux de manière à ce que vous jambes forment en angle droit.
                                                           Contractez votre abdomen et exhalez, inhalez et descendez lentement votre jambe. Répétez le mouvement.</p>


                                                       <h3> Exercice 3 : Twist russe - 1 minute </h3>

                                                           <p> Asseyez-vous au sol avec les genoux en position de "redressement". Gardez les pieds joints et les bras écartés. 
                                                           Balancez vous d'un côté à l'autre dans un mouvement circulaire.</p>
                                            </section>
                                    </div>

                            </div>
                    </div>
            </div>
    <!-- /Main -->
    
    
    <!-- Main no sidbar-->
		<div id="main">
			<div id="content" class="container">
				<section>
					<header>
						<h2>Jour 6 et 7 </h2>
					</header>
                                    
                                    <h3>Repooooooos</h3>
                                    <p> Vous l'avez bien mérité !  </p>							

				</section>
			</div>
                    
                    <a href="semaine1.html"><img id="haut" src="images/ancre.png" alt="ancre" /></a>
		</div>
{% endblock %}