 <section class="4u">
        <span class="pennant"><span class="fa fa-briefcase"></span></span>
        <h3>Semaine 1</h3>
        <p>Jour 1 --> 7. Nous allons voir les exercices basics comme la plache, les squats, les pompes etc</p>
        <a href="semaine1.html" class="button button-style1">Read More</a>
</section>