 <!-- Main no sidbar-->
		<div id="main">
			<div id="content" class="container">
				<section>
					<header>
						<h2>{{ article.titleH2 }} </h2>
					</header>
                                    
                                    <h3>{{ article.titleH3 }}</h3>
                                    <p> {{ article.content }}  </p>							

				</section>
			</div>
                    
                    <a href="semaine1.html"><img id="haut" src="images/ancre.png" alt="ancre" /></a>
		</div>
<!-- /Main -->
