
   {% for article in articles %}


<section class="4u">
        <span class="pennant"><span class="fa fa-briefcase"></span></span>
        <h3>{{ article.titleH2}}</h3>
        <p>{{ article.content}}</p>
        <a href="semaine1.html" class="button button-style1">Read More</a>
</section>

    {% endfor %}