{% extends "ZDBlogBundle::layoutIndex.html.twig" %}


{% block h1 %} 
    {% for article in articles %}
        <h1>{{ article.titleH1 }}</h1>
    {% endfor %}
{% endblock %}


{% block contentPage %}
   {% for article in articles %}
    <div id="featured">
			<div class="container">
				<header>
					
                                            <h2>{{ article.titleH2}}</h2>
                                       
				</header>
                                
                               
                                    <p>{{ article.content}}</p>
                             
				<hr />
				<div class="row">
					
                                       {{ include("ZDBlogBundle:Article:blockIndex.html.twig") }}
					

				</div>
			</div>
        </div>
    {% endfor %}
{% endblock %}
 