{% extends "ZDBlogBundle::layoutIndex.html.twig" %}


{% block h1 %} 
    {% for article in articles %}
        <h1>{{ article.titleH1 }}</h1>
    {% endfor %}
{% endblock %}


{% block contentPage %}
   
    <div id="featured">
			<div class="container">
				<header>
					{% for article in articles %}
                                            <h2>{{ article.titleH2|raw}}</h2>
                                        {% endfor %}
				</header>
                                
                                {% for article in articles %}
                                    <p>{{ article.content|raw}}</p>
                                   {% endfor %}
				<hr />
				<div class="row">
					
                                       {{ include("ZDBlogBundle:Article:blockIndex.html.twig") }}
					

				</div>
			</div>
        </div>
   
{% endblock %}
 