<div id="main">
        <div class="container">
                <div class="row">

                        <!-- Sidebar -->
                        <div id="sidebar" class="4u">
                                <section>
                                        <header>
                                                <h2>Exercices</h2>
                                        </header>
                                        <div class="row">
                                                <section class="6u">
                                                        <ul class="default">
                                                                <li><img src="" alt=""></li>
                                                        </ul>

                                                        <ul class="default">
                                                                <li><img src="" alt=""></li>
                                                        </ul>

                                                        <ul class="default">
                                                                <li><img src="" alt=""></li>
                                                        </ul>
                                                </section>

                                        </div>
                                </section>


                        </div>

                        <!-- Content -->
                        <div id="content" class="8u skel-cell-important">
                                <section>
                                        <header>
                                                <h2>Jour 1</h2>
                                                <!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
                                        </header>
                                            <p> Pour ce premier jour, je vais tout d'abord vous faire une petite intro sur la cardio. Car c'est ce que je vais vous demander de réaliser avant chaque exercice.
                                                Dans les prochains jours je n'indiquerai que "cardio" au début des exercices, vous saurez donc à quoi je fais référence.
                                                En effet, avant chaque exercice à faire chez sois vous devrez faire au minimum 20 minutes de cardio, sinon les exercices ne servent pas à grand chose.
                                                Il faut échauffer son corps et ses muscles, ensuite les graisses ne se brûlent qu'après environs 20 minutes de sport.
                                                Pour ces exercices de cardio vous avez le choix entre la course à pied, le vélo et la corde à sauter, à varier chaque jour selon les plaisirs. 
                                                </p>

                                           <h3> Cardio - 20 minutes </h3>

                                           <h3> Exercice 1 : La planche - 1 minute </h3>

                                                <p> Placez-vous en position de pompes, mais en posant les avant-bras au sol (au lieu des mains).Raidissez le corps de manière à ce qu’il devienne une ligne indéformable.Rentrez le ventre au maximum. 
                                                    À partir de cette position, ne bougez plus le temps pendant 30 secondes.
                                                    La tête est dans le prolongement du dos (ni levée, ni baissée) et ne bougera plus.
                                                    La respiration doit impérativement se faire par la cage thoracique (et non par un relâchement du ventre) et lentement. Il est fortement recommandé, lors de l’expiration, de chercher à rentrer au maximum le ventre (absorption du nombril). </p>


                                           <h3> Exercice 2 : La planche oblique côté gauche - 1 minute </h3>

                                               <p> Même principe que pour la planche, sauf que ici on se tourne sur le côté gauche et on ne reste appuyé que sur un coude. </p>


                                           <h3> Exercice 3 : La planche oblique côté droit - 1 minute </h3>

                                               <p> Même exercice que le précédent, on change juste de côté. </p>
                                </section>
                        </div>

                </div>
        </div>         
</div>

