{% extends "ZDBlogBundle::layout.html.twig" %}

{% block h1 %}{% endblock %}
{% block tag %}{% endblock %}

{% block contentPage %}
    
    <h3>Inscrivez-vous ici</h3>

        <div class="well">
          {{ form(form) }}
        </div>
          
{% endblock %}
