{% extends "ZDBlogBundle::layout.html.twig" %}

{% block h1 %}
    {% for articleWeek in week %}
        <h1>{{ articleWeek.title}}</h1>
    {% endfor %}
 {% endblock %}

{% block contentPage %}
    
    <!-- Main left-->
        {% for listDay in listDays %}
            
          {% if loop.index is even %}
            {{ include("ZDBlogBundle:Article:rightBlock.html.twig") }}  
            {% else %} 
            {{ include("ZDBlogBundle:Article:leftBlock.html.twig") }}    
            {% endif %}
           
		 
        {% endfor %}

        
        

{% endblock %}
